/1T54m4fmnMr-GSznRhdT7YU3mhaCOWerB
/edit
/imported_google_file_20240123_155541
/imported_google_file_20240126_143805
/imported_google_file_20240126_184303
/imported_google_file_20240126_192200
/imported_google_file_20240126_192406
/imported_google_file_20240126_192813
/imported_google_file_20240126_192941
/imported_google_file_20240126_193145
/imported_google_file_20240126_193323
/imported_google_file_20240201_181530
/imported_google_file_20240202_105442
/imported_google_file_20240202_121747
/imported_google_file_20240205_163622
google-cloud-sdk
./Users/gastonmora/Desktop/Netsquared_App_1.0/src/google-cloud-sdk
.env
.google-cloud-sdk
google-cloud-sdk/data/cli/gcloud.json
/Users/gastonmora/Desktop/Netsquared_App_1.0/src/google-cloud-sdk
google-cloud-sdk/bin/anthoscli
/google-cloud-sdk/bin/anthoscli

netsquared-407819-9ddae082973b.json
# Ignorar archivos de credenciales de Google OAuth
client_secrets.json
mycreds.json

client_secrets.json